.section {
    position: fixed;
    width: 100%;
    background-color: var(--color-primary);
    z-index: 999;
}

.heading {
    text-transform: uppercase;
    font-size: 36px;
    color: var(--color-secondary);
}

.wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_wrapper {
    display: flex;
    gap: 30px;
    color: var(--color-secondary);
    font-size: 26px;
    height: 35px;
}

.btn,
.btn_language {
    font-size: 21px;
    color: var(--color-secondary);
}

.btn_language {
    width: 25px;
    padding-left: 30px;
    color: var(--color-button);
    border-left: 2px solid var(--color-secondary);
}

.btn:hover {
    color: var(--color-button);
}

.user_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.email {
    font-size: 20px;
    color: var(--color-secondary);
}

.logout_icon {
    width: 21px;
    height: 21px;
}