.section {
    width: 100%;
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: var(--color-primary);
}

.wrapper {
    display: flex;
    align-items: center;
}

.arrow_btn {
    cursor: pointer;
}

.arrow {
    width: 40px;
    height: 40px;
    rotate: 180deg;
    animation: rotate 0.3s;
}

.arrowDown {
    width: 40px;
    height: 40px;
    rotate: 0;
    animation: rotateDown 0.3s;
}

@keyframes rotateDown {
    0% {
        rotate: 180deg;
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 180deg;
    }
}

.heading {
    text-align: center;
    width: 100%;
    font-size: 28px;
}

.input_wrapper {
    display: flex;
    gap: 8%;
}
.toogle_wrapper {
    animation: input_wrapper 0.3s;
}
@keyframes input_wrapper {
    0% {
        position: absolute;
        margin-top: -50px;
        opacity: 0;
    }
    60% {
        margin-top: -20px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
} 
.col_1 {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.input_title, .input_desc {
    width: 100%;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
}

.input_title {
    font-size: 24px;
}

.input_desc {
    font-size: 18px;
    resize: none;
}
.col_2 {
    display: flex;
    flex-direction: column;
    width: 37%;
}
.status_heading {
    margin-top: 20px;
    font-size: 22px;
}
.status_heading span {
    margin-left: 5px;
    font-size: 9px;
    color: var(--color-dark);
    font-weight: 500;
}
.status_wrapper {
    display: flex;
    width: 100%;
    margin-top: 7px;
    border-radius: 15px;
}
.status_btn {
    width: 100%;
    font-size: 14px;
    padding: 3px;
    opacity: 0.9;
    color: var(--color-secondary);
}

.date_input {
    margin-top: 7px;
    border-radius: 20px;
    border: none;
    padding: 7px 15px;
}
.color_heading {
    margin-top: 7px;
    font-size: 20px;
    text-transform: capitalize;
}
.choose_color {
    display: flex;
    width: min-content;
    margin-top: 7px;
}
.color_btn {
    width: 25px;
    height: 25px;
}

.add_button {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;
    font-size: 48px;
    line-height: 20px;
    font-weight: 400;
    background-color: var(--color-button);
    color: var(--color-secondary);
}